@page "/"

<PageTitle>MyBlazorFirstApp</PageTitle>

<h1>Olá, @nome !</h1>

Sejam bem vindos ao meu primeiro App em Blazor.

<SurveyPrompt Title="Como está sendo sua experiência com o Blazor?" />

@code{
	string nome = "Rafael";
}